@font-face {
    font-family: "GeorgiaRegular";
    src: url("../../assets/fonts/georgia/Georgia_regular.woff") format("woff2"), url("/mishakozarev-JSFE2023Q1/shelter/assets/fonts/georgia/Georgia_regular.woff2") format("woff");
  }
  @font-face {
    font-family: "ArialRegular";
    src: url("../../assets/fonts/arial/Arial.woff2") format("woff2"), url("../../assets/fonts/Arial.woff") format("woff");
  }
html {
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
body.active {
    overflow: hidden;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}
.colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.bg{
    background: url(../../../assets/images/bg/start-screen-gradient-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, a, button{
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
}
h5, h6, p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
}
button {
    cursor: pointer;
    transition: 1s;
}
button:hover {
    background: #FDDCC4;
}
a {
    text-decoration: none;
}

/* start HEADER */

.header {
    position: absolute;
    width: 100%;
    top: 30px;
}
.header__container {
    max-width: 1240px;
    padding: 0 20px;
}
.header__row {
    max-width: 1200px;
    padding: 0 20px;
}
.logo {
    width: 184px;
}
.logo__title h2 {
    margin: 0 0 10px 0 ;
}
.logo__title h2 a{
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.054em;
    color: #545454;
    margin: 0 0 10px 0 ;
}
.logo__title h5 {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #545454;
    margin: 0;
}
.logo__title{
    margin: 0;
}

.menu__item {
    margin-right: 35px;
    list-style-type: none;
}
.menu__item:last-child{
    margin-right: 0px;
}

.menu__link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454;
    transition: .5s;
}
.menu__link:hover {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 3px;
}
.burger {
    position: relative;
    width: 30px;
    height: 22px;
	z-index:3;
	overflow: hidden;
    display: none;
    cursor: pointer;
}
.line {
    position: absolute;
    width: 30px;
    height: 2px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #000000;
	transition: all 0.5s;
}
.line-one {
    top: 50%;
}
.line-two {
    top: calc(50% - 10px);
}
.line-three {
    top: calc(50% + 10px);

}
/* end HEADER */


/* start our_friends */
.our-friends{
    width: 100%;
    max-height: 1342px;
    background: #F6F6F6;
    position: relative;

}
.our-friends__colum {
    margin: 120px 0 0 0;
}
.our-friends__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin: 81px 0 58px;
}
.our-friends__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: 1s;
    box-sizing: border-box;
}
.card:hover{
    background: white;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .card__btn{
    border: none;
    background: #FDDCC4;
}
.card__img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 9px 9px 0px 0px;
}
.card__img-one {
    background: url(../../../assets/images/pets/katrine.png);
}
.card__img-two {
    background: url(../../../assets/images/pets/jennifer.png);
}
.card__img-three {
    background: url(../../../assets/images/pets/woody.png);
}
.card__img-four {
    background: url(../../../assets/images/pets/sophia.png);
}
.card__img-five {
    background: url(../../../assets/images/pets/timmy.png);
}
.card__img-six {
    background: url(../../../assets/images/pets/charly.png);
}
.card__img-seven {
    background: url(../../../assets/images/pets/scarlett.png);
}
.card__img-eight {
    background: url(../../../assets/images/pets/freddie.png);
}
.card__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}
.card__btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #FAFAFA;
    margin-bottom: 30px;
}

.popup__body {
    position: fixed;
    top: 0;
    left: 0;
    /* right: -100%; */
    opacity: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
    transition: 1s;
    cursor: pointer;
    z-index: -1;
}
.popup__body.active{
    /* right: 0%; */
    opacity: 1;
    z-index: 2;
    transition: 1s;
}
.popup {
    position: fixed;
    width: 900px;
    height: 500px;
    background: #FAFAFA;
    border-radius: 9px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 3;
    visibility: hidden;
}
.popup.active {
    visibility: visible;
}

.popup__btn {
    position: fixed;
    top: -52px;
    right: -52px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
    transition: 1s;
    /* opacity: 0; */
}
.popup__btn:hover {
    background: #FDDCC4;
}
.popup__btn-closed{
    width: 12px;
    height: 12px;
}


.popup__container {
    display: flex;
}
.popup__img {
    border-radius: 9px;
    box-sizing: border-box;

    /* width: 100%;
    height: 100%; */

}
.info {
    padding: 50px 20px 88px 29px;
}
.name {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}
.type-breed {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
}
.point::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background: #F1CDB3;
    margin: 0 10px 2px 0;
}
.description {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
.age, .inoculations, .diseases, .parasites {
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}
.info-text {
    font-weight: 400;
}
.point {
    font-weight: 700;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 57px 0 120px;
}
.slider__btn{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
    box-sizing: border-box;
}
.slider__btn h4{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
.slider__btn-1{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    cursor: default;
}
.slider__btn-2{
    margin-left: 15px;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    cursor: default;

}
.slider__btn-3{
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    cursor: default;
    margin: 0 20px;
    color: #292929;
}
.slider__btn-4{
    border: 2px solid #F1CDB3;
    margin-right: 15px;
    color: #292929;
}
.slider__btn-5{
    border: 2px solid #F1CDB3;
    color: #292929;
}
.slider__btn-4:hover, .slider__btn-5:hover {
    background: #F1CDB3;
    color: #292929;
    border: 2px solid #F1CDB3;

}
/* end our_friends */


.footer {
    height: 350px;
}
.footer__container {
    max-width: 1240px;
    padding: 0 20px;
}
.footer__row {
    height: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 20px;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 295px;
    height: 234px;
}
.contacts_one {
    margin: 0 0 59px 0;
}
.contacts_two {
    margin: 0 21px 59px 0;
}
.contacts_one .contacts__title{
    margin-bottom: 39px;
}
.contacts_two .contacts__title{
    margin-bottom: 33px;
}
.contacts_one .contacts__item-one{
    margin-bottom: 39px;
}
.contacts_two .contacts__item-one{
    margin-bottom: 30px;
}
.contacts__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.contacts__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts__icon {
    margin-right: 20px;
}
.contacts__text  a{
    font-size: 1.25rem;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    transition: 1s;

}
.contacts__text:hover a{
    color: white;
}
.contacts__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__img {
    width: 25%;
    max-width: 300px;
    min-width: 280px;
}