@media (max-width: 700px) {
    .burger {
        display: block;
    }
    .menu {
        display: none;
    }
}
@media (max-width: 724px) {
    .footer {
        height: 809px;
    }
    .footer__row {
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding:0;
    }
    .footer__img {
        margin: 30px 0 0 0;
    }
    .contacts__title {
        font-size: 25px;
        text-align: center;
        width: 294px;
    }
}
@media (max-width: 430px) {
    .footer__row {
        height: 100%;
        padding: 0 10px;
    }
    .contacts_one {
        margin: 30px 0 12px;
        align-items: center;

    }
    .contacts_two .contacts__title{
        margin-bottom: 41px;
    }
    .contacts_two .contacts__item-one{
        margin-bottom: 37px;
    }
}
@media (max-width: 620px) {
    .our-friends__grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
    }
    .card__six, .card__five, .card__four {
        display: none;
    }
}