@font-face {
    font-family: "GeorgiaRegular";
    src: url("../../assets/fonts/georgia/Georgia_regular.woff") format("woff2"), url("/mishakozarev-JSFE2023Q1/shelter/assets/fonts/georgia/Georgia_regular.woff2") format("woff");
  }
  @font-face {
    font-family: "ArialRegular";
    src: url("../../assets/fonts/arial/Arial.woff2") format("woff2"), url("../../assets/fonts/Arial.woff") format("woff");
  }
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    overflow: overlay;
    margin: 0;
    padding: 0;
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, a, button{
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
}
h5, h6, p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
}
button {
    cursor: pointer;
    transition: 1s;
}
button:hover {
    background: #FDDCC4;
}

a {
    text-decoration: none;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.bg{
    background: url(../../assets/images/bg/start-screen-gradient-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

/* start HEADER */
.header {
    position: absolute;
    width: 100%;
    top: 30px;
}
.logo {
    width: 184px;
}
.logo__title h2 {
    margin: 0 0 10px 0 ;
}
.logo__title h2 a{
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.054em;
    color: #F1CDB3;
    margin: 0 0 10px 0 ;
}
.logo__title h5 {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
}
.logo__title{
    margin: 0;
}
.menu {
    max-width: 443px;
}
.menu__item {
    margin-right: 35px;
    list-style-type: none;
}
.menu__item:last-child{
    margin-right: 0px;
}
.menu__item:first-child{
    border-bottom: 3px solid #F1CDB3;
}
.menu__item a{
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}
.menu__item:hover a{
    color: #FAFAFA;
}
.menu__item:first-child a{
    color: #FAFAFA;
}
.menu__item:first-child:hover a{
    cursor: default;
    pointer-events: none
}
/* end HEADER */


/* start NOT-ONLY */
.not-only {
    height: 908px;
}
.not-only__row {
    align-items: flex-end;
    height: 100%;
}
.content {
    max-width: 460px;
    height: 322px;
    margin-bottom: 243px;
}
.content__colum {
    display: flex;
    flex-direction: column;
}
.content__title {
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}
.content__subtitle {
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 42px 0 42px 0;
}
.content__btn {
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;

}
.content__btn a{
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.not-only__img{
    background: url(../../assets/images/start-screen-puppy.png);
    background-size: cover;
    width: 698px;
    height: 728px;
}

/* end NOT-ONLY */


/* start ABOUT */
.about {
    width: 100%;
    height: 588px;
    background: white;
}
.about__img {
    background: url(../../assets/images/about-pets.png);
    width: 300px;
    height: 408px;
    margin: 80px 0 0 175px;
}
.about__disc {
    max-width: 430px;
    height: 380px;
    margin: 83px 175px 0 0;
}
.about__disc-title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.about__disc-subtitle {
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-top: 22px;
}
.about__disc-subtitle:last-child {
    margin-top: 25px;
}


/* start OUR-FRIENDS */
.our-friends {
    width: 100%;
    height: 877px;
    background: #F6F6F6;
}
.our-friends__colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-friends__title {
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 80px;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 435px;
    margin-top: 59px;
}
.slider__btn {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}
.slider__btn:hover {
    background: #F1CDB3;
}
.card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: 1s;
}
.card:hover{
    background: white;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}
.card:hover .card__btn{
    border: none;
    background: #FDDCC4;
}
.card__two {
    margin: 0 38px;
}
.card__img {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;

}
.card__img-one {
    background: url(../../assets/images/pets/katrine.png);
}
.card__img-two {
    background: url(../../assets/images/pets/jennifer.png);
}
.card__img-three {
    background: url(../../assets/images/pets/woody.png);
}
.card__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}
.card__btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #FAFAFA;

}


.our-friends__btn {
    margin-top: 60px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;

    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.our-friends__btn a{
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

/* end OUR-FRIENDS */


/* start HELP */
.help {
    width: 100%;
    height: 611px;
    background: white;
}
.help__colum {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1029px;
    margin: 0 auto;
}
.help__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 80px 0 59px;
    text-align: center;
}
.help__list {
    display: flex;
    flex-wrap: wrap;
    height: 281px;
    margin: 0;
}
.item {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px 54px 0;

}
.item_five {
    margin: 0;
}
.item_six {
    margin-left: 85px;
}
.item_eight {
    margin-right: 120px;
}
.item_nine {
    margin: 0;
}
.item__text {
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.in-addition {
    width: 100%;
    height: 462px;
    background: #F6F6F6;
}
.in-addition__row {
    max-width: 915px;
    margin: 0 auto;

}
.in-addition__img {
    background: url(../../assets/images/donation-dog.png);
    width: 505px;
    height: 261px;
    margin-top: 81px;
}
.donation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 380px;
    margin-top: 81px;
}
.donation__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__subtitle {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 20px 0 18px;
}
.donation__btn {
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.donation__btn {
    background: #F1CDB3;
}
.credit-icon {
    background: url(../../assets/icons/credit-card.svg);
    width: 30px;
    height: 23px;
    margin-left: 15px;
}
.donation__btn a{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-right: 15px;
}
.donation__text {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
/* end HELP */


/* start FOOTER */
.footer {
    height: 350px;
}
.footer__row {
    height: 100%;
    align-items: flex-end;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 295px;
    height: 234px;
}
.contacts_one {
    margin: 0 0 59px 0;
}
.contacts_two {
    margin: 0 21px 59px 0;
}
.contacts_one .contacts__title{
    margin-bottom: 39px;
}
.contacts_two .contacts__title{
    margin-bottom: 33px;
}
.contacts_one .contacts__item-one{
    margin-bottom: 39px;
}
.contacts_two .contacts__item-one{
    margin-bottom: 30px;
}
.contacts__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.contacts__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts__icon {
    margin-right: 20px;
}
.contacts__text  a{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    transition: 1s;

}
.contacts__text:hover a{
    color: white;
}
.contacts__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__img {
    background: url(../../assets/images/footer-puppy.png);
    width: 300px;
    height: 310px;
}
/* end FOOTER */
