@font-face {
    font-family: "GeorgiaRegular";
    src: url("../../assets/fonts/georgia/Georgia_regular.woff") format("woff2"), url("/mishakozarev-JSFE2023Q1/shelter/assets/fonts/georgia/Georgia_regular.woff2") format("woff");
  }
  @font-face {
    font-family: "ArialRegular";
    src: url("../../assets/fonts/arial/Arial.woff2") format("woff2"), url("../../assets/fonts/Arial.woff") format("woff");
  }

body{
    box-sizing: border-box;
    overflow: overlay;
    /* scroll-behavior: smooth; */
    background: rgb(68, 67, 67);
    margin: 0;
    padding: 0;
    /* width: 100%; */
    width: 1280px;
}
/* start HEADER */
.header {
    position: absolute;
    width: 100%;
    top: 30px;
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo {
    width: 184px;
}
.logo__title h2{
    font-family: "GeorgiaRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.054em;
    color: #F1CDB3;
    margin: 0 0 10px 0 ;
}
.logo__title h5 {
    font-family: "ArialRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
}
.logo__title{
    margin: 0;
}
.menu {
    max-width: 443px;
}
.menu__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.menu__item {
    margin-right: 35px;
    list-style-type: none;
}
.menu__item:last-child{
    margin-right: 0px;
}
.menu__item:first-child{
    border-bottom: 3px solid #F1CDB3;
}
.menu__item a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}
/* end HEADER */


/* start NOT-ONLY */
.not-only {
    max-width:100%;
    height: 100vh;
    /* background: black; */
}
.not-only__container {
}
.not-only__row {
}
.content {
}
.content__colum {
}
.content__title {
}
.content__subtitle {
}
.content__btn {
}
.not-only__img {
}
/* end NOT-ONLY */


/* start ABOUT */
.about {
}
.about__container {
}
.about__row {
}
.about__img {
}
.about__disc {
}
.about__disc-title {
}
.about__disc-subtitle {
}


/* start OUR-FRIENDS */
.our-friends {
}
.our-friends__container {
}
.our-friends__colum {
}
.our-friends__title {
}
.slider {
}
.slider__btn-prev {
}
.card {
}
.card__one {
}
.card__img {
}
.card__text {
}
.card__btn {
}
.card__two {
}
.card__three {
}
.slider__btn-next {
}
.our-friends__btn {
}
/* end OUR-FRIENDS */


/* start HELP */
.help {
}
.help__container {
}
.help__colum {
}
.help__title {
}
.help__list {
}
.item {
}
.item_one {
}
.item__icon {
}
.item__text {
}
.item_two {
}
.item_three {
}
.item_four {
}
.item_five {
}
.item_six {
}
.item_seven {
}
.item_eight {
}
.item_nine {
}
.in-addition {
}
.in-addition__container {
}
.in-addition__row {
}
.in-addition__img {
}
.donation {
}
.donation__title {
}
.donation__subtitle {
}
.donation__btn {
}
.donation__text {
}
/* end HELP */


/* start FOOTER */
.footer {
}
.footer__container {
}
.footer__row {
}
.contacts {
}
.contacts__title {
}
.contacts__mail {
}
.mail-icon {
}
.mail-text {
}
.contacts__phone {
}
.phone-icon {
}
.phone-text {
}
.locations {
}
.locations__title {
}
.locations__item {
}
.locations__item-one {
}
.locations__item-two {
}
.footer__img {
}
/* end FOOTER */
