@font-face {
    font-family: "GeorgiaRegular";
    src: url("../../assets/fonts/georgia/Georgia_regular.woff") format("woff2"), url("/mishakozarev-JSFE2023Q1/shelter/assets/fonts/georgia/Georgia_regular.woff2") format("woff");
  }
  @font-face {
    font-family: "ArialRegular";
    src: url("../../assets/fonts/arial/Arial.woff2") format("woff2"), url("../../assets/fonts/Arial.woff") format("woff");
  }

body{
    box-sizing: border-box;
    overflow: overlay;
    /* scroll-behavior: smooth; */
    background: rgb(68, 67, 67);
    margin: 0;
    padding: 0;
    /* width: 100%; */
    width: 1280px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
/* start HEADER */
.header {
    position: absolute;
    width: 100%;
    top: 30px;
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo {
    width: 184px;
}
.logo__title h2{
    font-family: "GeorgiaRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.054em;
    color: #F1CDB3;
    margin: 0 0 10px 0 ;
}
.logo__title h5 {
    font-family: "ArialRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
}
.logo__title{
    margin: 0;
}
.menu {
    max-width: 443px;
}
.menu__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.menu__item {
    margin-right: 35px;
    list-style-type: none;
}
.menu__item:last-child{
    margin-right: 0px;
}
.menu__item:first-child{
    border-bottom: 3px solid #F1CDB3;
}
.menu__item a{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}
/* end HEADER */


/* start NOT-ONLY */
.not-only {
    width:100%;
    height: 908px;
    background: url(../../assets/images/bg/start-screen-background.jpg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
}
.not-only__container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.not-only__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

}
.content {
    max-width: 460px;
    height: 322px;
    margin-bottom: 243px;
}
.content__colum {
    display: flex;
    flex-direction: column;
}
.content__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}
.content__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 42px 0 42px 0;
}
.content__btn {
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;

}
.not-only__img {
    background: url(../../assets/images/start-screen-puppy.png);
    width: 698px;
    height: 728px;

}
/* end NOT-ONLY */


/* start ABOUT */
.about {
    width: 100%;
    height: 588px;
    background: white;
}
.about__container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.about__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__img {
    background: url(../../assets/images/about-pets.png);
    width: 300px;
    height: 408px;
    margin: 80px 0 0 175px;
}
.about__disc {
    max-width: 430px;
    height: 380px;
    margin: 83px 175px 0 0;
}
.about__disc-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.about__disc-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin-top: 22px;
}


/* start OUR-FRIENDS */
.our-friends {
    width: 100%;
    height: 877px;
    background: #F6F6F6;
}
.our-friends__container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.our-friends__colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-friends__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 80px;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 435px;
    margin-top: 59px;
}
.slider__btn {
    position: absolute;
    width: 52px;
    height: 52px;
}
.slider__btn-prev {
    background: url(../../assets/images/button_arrow_pre.png);
    left: 40px;
}
.slider__btn-next {
    background: url(../../assets/images/button_arrow_next.png);
    right: 40px;
}
.card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
}
.card__one {
    margin: 0 0 0 105px;
}
.card__two {
    margin: 0 90px;
}
.card__three {
    margin: 0 105px 0 0;
}
.card__img {
    width: 270px;
    height: 270px;
}
.card__img-one {
    background: url(../../assets/images/pets/katrine.png);
    width: 270px;
    height: 270px;
}
.card__img-two {
    background: url(../../assets/images/pets/jennifer.png);
}
.card__img-three {
    background: url(../../assets/images/pets/woody.png);
}
.card__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}
.card__btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.our-friends__btn {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;
    margin-top: 60px;
}
/* end OUR-FRIENDS */


/* start HELP */
.help {
}
.help__container {
}
.help__colum {
}
.help__title {
}
.help__list {
}
.item {
}
.item_one {
}
.item__icon {
}
.item__text {
}
.item_two {
}
.item_three {
}
.item_four {
}
.item_five {
}
.item_six {
}
.item_seven {
}
.item_eight {
}
.item_nine {
}
.in-addition {
}
.in-addition__container {
}
.in-addition__row {
}
.in-addition__img {
}
.donation {
}
.donation__title {
}
.donation__subtitle {
}
.donation__btn {
}
.donation__text {
}
/* end HELP */


/* start FOOTER */
.footer {
}
.footer__container {
}
.footer__row {
}
.contacts {
}
.contacts__title {
}
.contacts__mail {
}
.mail-icon {
}
.mail-text {
}
.contacts__phone {
}
.phone-icon {
}
.phone-text {
}
.locations {
}
.locations__title {
}
.locations__item {
}
.locations__item-one {
}
.locations__item-two {
}
.footer__img {
}
/* end FOOTER */
