@media (max-width: 767px) {
    .menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .card__two {
        display: none;
    }
    .card {
        margin: 0;
    }
    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 435px;
        max-width: 500px;
    }
    .slider__btn-next {
        margin: 10px 0 0 30px;
        order: 0;
    }
    .slider__btn-prev {
        margin: 10px 30px 0 0;
    }
    .footer__img {
        min-width: 260px;
    }
}
@media (max-width: 724px) {
    .footer {
        height: 809px;
    }
    .footer__row {
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding:0;
    }
    .footer__img {
        margin: 30px 0 0 0;
    }
    .contacts__title {
        font-size: 25px;
        text-align: center;
        width: 294px;
    }
    .contacts_one {
        margin: 30px 0 12px;
        align-items: center;

    }
    .contacts_two .contacts__title{
        margin-bottom: 41px;
    }
    .contacts_two .contacts__item-one{
        margin-bottom: 37px;
    }
}
@media (max-width: 670px) {
    /* start HELP */
    .help {
        height: 745px;
    }
    .help__colum {
        padding: 0 15px 0;
    }
    .help__title {
        font-size: 25px;
        margin: 42px 0;
    }
    .help__list {
        gap: 30px;
    }
    .item {
        width: 130px;
        height: 87px;
    }
    .item__icon {
        margin: 0 0 20px 0;
    }
    .item__text {
        font-size: 15px;
        line-height: 110%;
    }
    /* end HELP */
    .not-only {
        height: 1020px;
    }
    .not-only__img {
        padding: 0;
    }
    .content__colum {
        align-items: center;
    }
    .content__title {
        font-size: 25px;
        height: 64px;
        text-align: center;
    }
    .content__subtitle {
        margin: 30px 0;
    }
}
@media (max-width: 499px) {
    .our-friends {
        height: 791px;
    }
    .our-friends__colum {
        justify-content: space-between;
        height: 100%;
    }
    .our-friends__title {
        font-size: 25px;
        margin-top: 42px;
    }
    .slider {
        margin: 0;
        width: 80.09%;
        height: 507px;
    }
    .slider__btn-prev {
        order: 0;
    }
}
@media (max-width: 430px) {
    .header__row {
        padding: 0 20px;
    }
    .not-only {
        height: 823px;
    }
    .not-only__row {
        padding: 0 10px;
        align-items: flex-end;
    }
    .content {
        padding: 0 0 93px;
    }
    .content__title {
        width: 100%;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .content__subtitle {
        text-align: center;
        padding: 42px 0;
        margin: 0;
    }

    .about {
        min-height: 974px;
    }
    .about__row {
        justify-content: flex-start;
        padding: 27px 25px 0;
    }
    .about__disc {
        text-align: justify;
    }
    .about__disc-title {
        font-size: 25px;
        text-align: center;
        padding: 15px 0 0 0;
    }
    .about__img {
        width: 96.3%;
        max-width: 260px;
        min-width: 250px;
        padding: 138px 0 0 0;
    }

    .our-friends__colum {
        justify-content: flex-start;
        padding: 0 10px 0;
    }
    .our-friends__title {
       margin: 42px 0 41px;
    }
    .our-friends__btn {
        margin-top: 42px;
    }
    .slider__btn {
        margin: 20px 0 0 0;
    }
    .slider__btn-prev {
        margin-right: 40px;
    }
    .slider__btn-next {
        margin-left: 40px;
    }
    .item img {
        height: 50px;
    }
    .help__list {
        justify-content: flex-start;
    }


    .in-addition {
        height: 542.2px;
    }
    .in-addition__row {
        padding: 0 10px;
    }
    .donation__title {
        font-size: 25px;
        text-align: center;
    }
    .donation {
        align-items: center;
        margin: 42px 0 0 0;
    }
    .donation__subtitle {
        line-height: 160%;
        letter-spacing: 0em;
        margin: 19px 0 21px;

    }
    .donation__btn {
        width: 281px;
    }
    .donation__btn a{
        font-size: 15px;
        line-height: 110%;
    }
    .donation__text {
        text-align: justify;
        padding: 0 10px;
    }
    .in-addition__img {
        margin: 41px 0 0 0;
        padding: 0;
    }

    .footer__row {
        height: 100%;
        padding: 0 10px;
    }
}
@media(max-width:319px){
    .help {
        height: 1178px;
    }
}



