@font-face {
    font-family: "GeorgiaRegular";
    src: url("../../assets/fonts/georgia/Georgia_regular.woff") format("woff2"), url("/mishakozarev-JSFE2023Q1/shelter/assets/fonts/georgia/Georgia_regular.woff2") format("woff");
}
 @font-face {
    font-family: "ArialRegular";
    src: url("../../assets/fonts/arial/Arial.woff2") format("woff2"), url("../../assets/fonts/Arial.woff") format("woff");
}
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: overlay;
}
body.active {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, a, button{
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
}
h5, h6, p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
}
button {
    cursor: pointer;
    transition: 1s;
}
button:hover {
    background: #FDDCC4;
}

a {
    text-decoration: none;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
}
.bg{
    background: url(../../../assets/images/bg/start-screen-gradient-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* start HEADER */
.header {
    position: absolute;
    width: 100%;
    top: 30px;
}
.logo {
    width: 184px;
}
.logo__title h2 {
    margin: 0 0 10px 0 ;
}
.logo__title h2 a{
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.054em;
    color: #F1CDB3;
    margin: 0 0 10px 0 ;
}
.logo__title h5 {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
}
.logo__title{
    margin: 0;
}

.menu__row {
    padding: 0;
}
.menu__item {
    margin-right: 35px;
    list-style-type: none;
}
.menu__item:last-child{
    margin-right: 0px;
}
.menu__link{
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    transition: .5s;
}
.menu__link:hover{
    color: #FAFAFA;
}
.menu__link:active{
    color: #FAFAFA;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}
.link-active{
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    cursor: default;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    transition: .5s;
}
.burger {
    position: relative;
    width: 30px;
    height: 22px;
	z-index:3;
	overflow: hidden;
    display: none;
    cursor: pointer;
}
.line {
    position: absolute;
    width: 30px;
    height: 2px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #F1CDB3;
	transition: all 0.5s;
}
.line-one {
    top: 50%;
}
.line-two {
    top: calc(50% - 10px);
}
.line-three {
    top: calc(50% + 10px);
}
/* end HEADER */


/* start NOT-ONLY */
.not-only {
    height: 908px;
}
.not-only__container{
    max-width: 1240px;
    margin: 0 auto;
}
.not-only__row {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.content {
    display: flex;
    align-items: center;
    max-width: 460px;
    min-height: 322px;
    padding: 0 0 243px;
}

.content__colum {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content__title {
    height: 114px;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}
.content__subtitle {
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 42px 0 42px 0;
}
.content__btn {
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: none;
}
.content__btn a{
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.not-only__img{
    width: 58.166%;
    max-width: 698px;
    min-width: 530px;
}

/* end NOT-ONLY */


/* start ABOUT */
.about {
    width: 100%;
    min-height: 588px;
    background: white;
}
.about__container {
    max-width: 890px;
    margin: 0 auto;
}
.about__row {
    /* width: 100%; */
    padding: 80px 20px 0;
}
.about__img {
    width: 35.29%;
    max-width: 300px;
    min-width: 270px;
    padding: 0 20px 0 0;
}
.about__disc {
    max-width: 430px;
    /* width: 50.58%; */
    height: 412px;
}
.about__disc-title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 15px 0 0 0;
}
.about__disc-subtitle {
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.about__disc-subtitle_first {
    padding: 23px 0 0 0;
}
.about__disc-subtitle_second{
    padding: 25px 0 0 0;
}




/* start OUR-FRIENDS */
.our-friends {
    width: 100%;
    height: 877px;
    background: #F6F6F6;
    position: relative;
}
.our-friends__colum {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0;
}
.our-friends__title {
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 80px 0 59px 0;
}
.slider {
    position: relative;
    display: flex;
    align-items: center;
    gap: 53px;
}
.slider__container {
    width: 990px;
    overflow: hidden;
}
.slider__content {
    position: relative;
    left: -1080px;
    display: flex;
    width: 3150px;
    justify-content: center;
    gap: 90px;
    transition: none;
}


@keyframes move-right {
    from {left: -1080px;}
    to {left: -2160px;}
}
.transition-right {
    animation-name: move-right;
    animation-duration: .5s;
}
@keyframes move-left {
    from {left: -1080px;}
    to {left: 0px;}
}
.transition-left {
    animation-name: move-left;
    animation-duration: .5s;
}


.prev-page, .current-page, .next-page {
    display: flex;
    gap: 90px;
    width: 990px;
}

.slider__btn {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: background 1s ease;
}
.slider__btn:hover {
    background: #F1CDB3;
}
.card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 1s;
    z-index: 1;
}
.card:hover{
    background: white;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}
.card:hover .card__btn{
    border: none;
    background: #FDDCC4;
}
.card__img {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;

}
.card__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px 0;
}
.card__btn {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #FAFAFA;
}
.our-friends__btn {
    margin-top: 60px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-friends__btn a{
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.popup__body {
    position: fixed;
    top: 0;
    left: 0;
    /* right: -100%; */
    opacity: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
    transition: 1s;
    cursor: pointer;
    z-index: -1;
}
.popup__body.active{
    opacity: 1;
    z-index: 2;
    transition: 1s;
}
.popup {
    position: fixed;
    width: 900px;
    height: 500px;
    background: #FAFAFA;
    border-radius: 9px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 3;
    visibility: hidden;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.popup.active {
    visibility: visible;
}

.popup__btn {
    position: fixed;
    top: -52px;
    right: -52px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
    transition: .2s;
}
.popup__btn:hover {
    background: #FDDCC4;
}
.popup__btn-closed{
    width: 12px;
    height: 12px;
}
.popup__container {
    display: flex;
}
.popup__img {
    border-radius: 9px;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
}
.info {
    padding: 50px 20px 88px 29px;
}
.name {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}
.type-breed {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
}
.point::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background: #F1CDB3;
    margin: 0 10px 2px 0;
    line-height: 110%;

}
.description {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
.age, .inoculations, .diseases, .parasites {
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
}
.info-text {
    font-weight: 400;
    line-height: 110%;

}
.point {
    font-weight: 700;
    line-height: 160%;
}

/* end OUR-FRIENDS */


/* start HELP */
.help {
    width: 100%;
    min-height: 611px;
    background: white;
}
.help__container {
    height: 100%;
}
.help__colum {
    display: flex;
    flex-direction: column;
    max-width: 1029px;
    margin: 0 auto;
    padding: 0 20px 0;
    height: 100%;
}
.help__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 80px 0 59px;
    text-align: center;
}
.help__list {
    display: flex;
    justify-content: center;
    gap: 54px 120px;
    flex-wrap: wrap;
    height: 281px;
    margin: 0;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* width: 82px; */
    height: 113px;
}

.item__text {
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

/*START in-addition*/
.in-addition {
    width: 100%;
    height: 462px;
    background: #F6F6F6;
}
.in-addition__container {
    max-width: 955px;
    margin: 0 auto;
}
.in-addition__img {
    /* background: url(../../assets/images/donation-dog.png); */
    width: 55.19%;
    max-width: 505px;
    min-width: 260px;
    padding: 81px 20px 0 0 ;
    margin: 0;
}
.donation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 380px;
    margin-top: 81px;
}
.donation__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__subtitle {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 19px 0 21px;
}
.donation__btn {
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: 1s;
}
.donation__btn:hover {
    background: #FDDCC4;
}
.credit-icon {
    background: url(../../../assets/icons/credit-card.svg);
    width: 30px;
    height: 23px;
    margin-left: 15px;
}
.donation__btn a{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-right: 15px;
}
.donation__text {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
/* end HELP */


/* start FOOTER */
.footer {
    height: 350px;
}
.footer__row {
    height: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 20px;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 295px;
    height: 234px;
}
.contacts_one {
    margin: 0 0 59px 0;
}
.contacts_two {
    margin: 0 21px 59px 0;
}
.contacts_one .contacts__title{
    margin-bottom: 39px;
}
.contacts_two .contacts__title{
    margin-bottom: 33px;
}
.contacts_one .contacts__item-one{
    margin-bottom: 39px;
}
.contacts_two .contacts__item-one{
    margin-bottom: 30px;
}
.contacts__title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.contacts__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts__icon {
    margin-right: 20px;
}
.contacts__text  a{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    transition: 1s;

}
.contacts__text:hover a{
    color: white;
}
.contacts__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__img {
    width: 25%;
    max-width: 300px;
    min-width: 270px;
}
/* end FOOTER */
