@media(max-width:767px){
    .card__two {
        display: none;
    }
    .slider__container {
        width: 290px;
        margin: 0;
        padding: 0;
    }
    .slider__content {
        left: -280px;
        width: 850px;
        gap: 20px;
    }
    @keyframes move-right {
        from {left: -280px;}
        to {left: -560px;}
    }
    .transition-right {
        animation-name: move-right;
        animation-duration: .5s;
    }
    @keyframes move-left {
        from {left: -280px;}
        to {left: 0px;}
    }
    .transition-left {
        animation-name: move-left;
        animation-duration: .5s;
    }
}


/* start Popup */
@media(max-width:767px){
    .popup {
        width: 240px;
        height: 341px;
    }
    .popup__img {
        display: none;
    }
    .info {
        padding: 0 10px 10px 10px;
    }
    .type-breed {
        margin-bottom: 20px;
        letter-spacing: 0.04em;

    }
    .description {
        margin-bottom: 24px;
    }
}
/* end popup */


@media (max-width: 767px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: -100%;
        opacity: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: rgb(0, 0, 0, 0.7);
        transition: 1s;
        cursor: pointer;
    }
    .menu.active{
        right: 0%;
        opacity: 1;
        z-index: 2;
        transition: 1s;
    }
    .menu__row {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 100%;
        background: #292929;
        right: -100%;
        top: 0;
        transition: right 1s linear;
        z-index: 2;
    }
    .menu__row.active {
        transition: right 1s linear;
        right: 0%;
    }
    .menu__item {
        margin: 0 0 40px 0;
        font-size: 32px;
        line-height: 160%;
    }
    .menu__link, .link-active{
        font-size: 32px;
        line-height: 160%;
    }
    .burger {
        display: block;
        transition: 1s;
    }
    .burger.active{
        transform: rotate(90deg);
    }

    .footer__img {
        min-width: 260px;
    }
}
@media (max-width: 724px) {
    .footer {
        height: 809px;
    }
    .footer__row {
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding:0;
    }
    .footer__img {
        margin: 30px 0 0 0;
    }
    .contacts__title {
        font-size: 25px;
        text-align: center;
        width: 294px;
    }
    .contacts_one {
        margin: 30px 0 12px;
        align-items: center;

    }
    .contacts_two .contacts__title{
        margin-bottom: 41px;
    }
    .contacts_two .contacts__item-one{
        margin-bottom: 37px;
    }
}
@media (max-width: 670px) {
    /* start HELP */
    .help {
        height: 745px;
    }
    .help__colum {
        padding: 0 15px 0;
    }
    .help__title {
        font-size: 25px;
        margin: 42px 0;
    }
    .help__list {
        gap: 30px;
    }
    .item {
        width: 130px;
        height: 87px;
    }
    .item__icon {
        margin: 0 0 20px 0;
    }
    .item__text {
        font-size: 15px;
        line-height: 110%;
    }
    /* end HELP */
    .not-only {
        height: 1020px;
    }
    .not-only__img {
        padding: 0;
    }
    .content__colum {
        align-items: center;
    }
    .content__title {
        font-size: 25px;
        height: 64px;
        text-align: center;
    }
    .content__subtitle {
        margin: 30px 0;
    }
}
@media (max-width: 580px) {
    .slider {
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        column-gap: 80px;
    }
    .slider__btn-prev {
        order: 2;
        position: relative;
        left: -65px;
    }
    .slider__btn-next {
        order: 2;
        position: absolute;
        bottom: 0;
        right: 42px
    }
    .slider__content {
        left: -280px;
        width: 850px;
        gap: 20px;
    }
    .our-friends__btn {
        margin-top: 42px;
    }
}





@media (max-width: 499px) {
    .our-friends {
        height: 791px;
    }
    .our-friends__colum {
        justify-content: space-between;
        height: 100%;
    }
    .our-friends__title {
        font-size: 25px;
        margin-top: 42px;
    }

}
@media (max-width: 430px) {
    .header__row {
        padding: 0 20px;
    }
    .not-only {
        height: 823px;
    }
    .not-only__row {
        padding: 0 10px;
        align-items: flex-end;
    }
    .content {
        padding: 0 0 93px;
    }
    .content__title {
        width: 100%;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .content__subtitle {
        text-align: center;
        padding: 42px 0;
        margin: 0;
    }

    .about {
        min-height: 974px;
    }
    .about__row {
        justify-content: flex-start;
        padding: 27px 25px 0;
    }
    .about__disc {
        text-align: justify;
    }
    .about__disc-title {
        font-size: 25px;
        text-align: center;
        padding: 15px 0 0 0;
    }
    .about__img {
        width: 96.3%;
        max-width: 260px;
        min-width: 250px;
        padding: 138px 0 0 0;
    }

    .our-friends__colum {
        justify-content: flex-start;
        padding: 0 10px 0;
    }
    .our-friends__title {
       margin: 42px 0 41px;
    }
    .item img {
        height: 50px;
    }
    .help__list {
        justify-content: flex-start;
    }


    .in-addition {
        height: 542.2px;
    }
    .in-addition__row {
        padding: 0 10px;
    }
    .donation__title {
        font-size: 25px;
        text-align: center;
    }
    .donation {
        align-items: center;
        margin: 42px 0 0 0;
    }
    .donation__subtitle {
        line-height: 160%;
        letter-spacing: 0em;
        margin: 19px 0 21px;

    }
    .donation__btn {
        width: 281px;
    }
    .donation__btn a{
        font-size: 15px;
        line-height: 110%;
    }
    .donation__text {
        text-align: justify;
        padding: 0 10px;
    }
    .in-addition__img {
        margin: 41px 0 0 0;
        padding: 0;
    }

    .footer__row {
        height: 100%;
        padding: 0 10px;
    }
}
@media(max-width:319px){
    .help {
        height: 1178px;
    }
}



